<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web App Home page</title>
  </head>
  <body>
    <h3>Home Page</h3>
    <div>
      <p>Hi this is the home page of The Gift Ship store!</p>
    </div>
    <div>
      <a href="/login">Login here</a>
    </div>
    <%- include('includes/footer'); %>
  </body>
</html>
