<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web App Products page</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include('includes/header'); %>
    <div class="login">
      <h3>Products Page</h3>
    </div>
    <div class="productlist">
      <a href="/products/bag"><img src="/static/images/bag.png"><p>Bag</p></a>
      <a href="/products/lamp"><img src="/static/images/lamp.png"><p>Lamp</p></a>
      <a href="/products/shoe"><img src="/static/images/shoe.png"><p>Shoe</p></a>
      <a href="/products/specs"><img src="/static/images/specs.png"><p>Spectacles</p></a>
      <a href="/products/watch"><img src="/static/images/watch.png"><p>Watch</p></a>
    </div>
    <div class="subscribeform">
      <form action="/subscribe" method="post">
        <label>Name:</label>
        <input type="text" name="firstname">
        <label>Email:</label>
        <input type="text" name="email">
        <input type="submit" value="Subscribe!">
      </form>
    </div>
    <%- include('includes/footer'); %>
  </body>
</html>
